/* This file is for your main application css. */
@import "bootstrap";
//@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.label-keywords {
    font-size: 24px;
}

.search-padding {
  background-color: #ffffff;
}

.search-input {
  top: 25%;
  padding: 10%;
  text-align: center;
}

.navbar-blue {
  background-color: #0077b5;
}

.filters-box {
  background-color: #313335;
}

.form-components {
  display: flex;
  justify-content: center;
}

.scorer {
  padding: 20px;
}

.organizer-padding {
  padding: 2%;
}

.button-submit {
  margin-right: 1%;
}

.text {
  margin-left: 1%;
}

.gap {
  margin-top: 5.1%;
  margin-bottom: 5.1%;
}

.file-name{
  margin-top: 1%;
  margin-bottom: 1%;
}

.search-margin{
  margin-left: 1%;
}


@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
